@import-normalize;

.card_local {
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */

  width: 355px;

  border-radius: 8px;


}

.grid_card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  column-gap: 35px;
  row-gap: 50px;
  margin: 5% 12%;


}

.modal_title {
  display: flex;
}

.navbar {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  margin-bottom: 50px;
}


.nav_heading {
  margin-left: 20px;
}

.select_filter {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  padding: 10px;

}

select {
  width: 150px;
  height: 30px;
}

 

h2 {
  height: 100px;
}

.card_text {
  height: 100px;

}