* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-family: "Sometype Mono", monospace;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#207cca+31,1e5799+100,7db9e8+100 */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+-1,2170a5+0,207cca+31,7db9e8+100&1+51,0.22+100 */

  /*      
    font-family: 'Montserrat', sans-serif;
font-family: 'Sometype Mono', monospace; */
}
